*{
    box-sizing: border-box;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 500px;
    margin: 16px;
}

th, td{
    padding: 4px;
    text-align: right;
}
div{
    overflow-x: auto;
}
tr{
    height: 40px;
}
tbody > tr:nth-child(odd){
    background-color: #f2f2f2;
}
tbody > tr:hover{
    background-color: #aaa;
    color: #fff;
}
caption{
    margin-bottom: 8px;
}
thead{
    background-color: aqua;
}
tfoot{
    font-weight: 700;
}